<body>
    <h2>Note</h2>
    <ul class="ul-notes">
        <li *ngFor="let note of notes" class="li-notes">
            <a routerLink="/detail/{{ note.id }}" class="a-notes">
                <span>{{ note.title }} </span>
            </a>
        </li>
    </ul>
    
    <div>
        <ul class="ul-new-notes">
            <h2>Add New Note</h2>
            <li class="li-new-notes"><label for="add-title">Add New Title</label></li>
            <li class="li-new-notes"><input type="text" id="add-title" autocomplete="off" #noteTitle/></li>
            <li class="li-new-notes"><label for="add-body">Add New Body</label></li>
            <li class="li-new-notes"><textarea type="text" id="add-body" autocomplete="off" #noteBody></textarea></li>
            <li class="li-new-notes"><button type="button" (click)="add(noteTitle.value, noteBody.value)">Add Note</button></li>
        </ul>
    </div>
</body>
