<h2>Note</h2>
<ul>
    <li *ngFor="let note of notes">
            <a routerLink="/detail/{{ note.id }}">
                <span>{{ note.title }} </span>
                <span>{{ note.id }} </span>
                <span>{{ note.body }} </span>
            </a>
            <button type="button" (click)="delete(note)">x</button>
    </li>
</ul>

<div>
    <h2>Add New Note</h2>
    <label for="add-title">Add New Title</label>
    <input type="text" id="add-title" #noteTitle/>
    <br>
    <label for="add-body">Add New Body</label>
    <input type="text" id="add-body" #noteBody/>
    <br>
    <button type="button" (click)="add(noteTitle.value, noteBody.value)">Add Note</button>
</div>
